body {
font-family: 'Sacramento', cursive;
margin-top: 70px;
}

.max-viewport {
    min-height: 100vh;
}

.transparent {
    background-color: rgba(175,76,6,0.7)
}
#banner,
#contact,
#social {
    background: linear-gradient(
        rgba(139,69,19,0.6), rgba(139,69,19,0.6)),
        url(images/portfoliobackground.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
}